body{
	
font-family: 'Roboto', sans-serif;
    
color: #000000;
    
background-color: #fffdd0;	
	
text-align: center;

}


.content {
 
width: 30%;
 
border: solid;

margin: 0 auto;

}


p{
font-size:20px; 

}

h1{
font-size:90px;

}

caption{
margin: 0 auto;
 
}
.col2{
width: 140px;
 

}
