@charset "UTF-8";
body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background-color: #fffdd0;
}
a:link, a:active, a:visited{
	color:	#4d422b;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
/* grid de 960px (960/12=80px deixo espaço de 10 em cada lado fico com 60 */
.linha {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
}
.coluna{
	padding: 0 10px;
	float: left;
}
.col1{
	width: 60px;
	}
.col2{
	width: 140px;
	}
.col3{
	width: 220px;
	}
.col4{
	width: 300px;
	}
.col5{
	width: 380px;
	}
.col6{
	width: 460px;
	}
.col7{
	width: 540px;
	}
.col8{
	width: 620px;
	}
.col9{
	width: 700px;
	}
.col10{
	width: 780px;
	}
.col11{
	width: 860px;
	}
.col12{
	width: 940px;
	}
	/* estilos reutulizáveis */
	.sem-padding{
		padding: 0 !important;
	}	
	.sem-margin{
		margin: 0 !important;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
		margin: 15px 0  10px 0;
	}
	ul li, ol li{
		margin-bottom: 5px;
	}
	ul.inline li, ol.inline li{
		display: inline;
		margin-right: 15px;
        margin-left:-18px;
        font-size: small;
	}
	ul.inline li:last-child, ol.inline li:last-child{
		margin-right: 0;
	}
	ul.sem-marcador, ol.sem-marcador{
		list-style: none;
	}
	a.botao, input.botao{
		background: #4d422b;
		padding: 5px 10px;
		border-radius: 3px;
		color: #000000;
		cursor: pointer;
		margin: 5px 0;
		display: inline-block;
		border:none;
	}
	a.botao:hover, input.botao:hover{
		background:#000000;
        color: #fffdd0;
		text-decoration: none;
	}
	img{
		max-width:100%;
		height: auto;
        border-style:ridge;
        border-color:	#f7f5f2;
		}
	/* layout do site */
.header {
    background: #55503d;
    height:75px;
}
		h1.logo{
				font-weight:300;
				color: #e8ebd5;
				letter-spacing:-2px; 
		}
.conteudo-extra {
    background: -webkit-gradient(linear, left top, left bottom, from(#fffdd0), to(#4b4e32));
    background: -moz-linear-gradient(top, #fffdd0, #4b4e32);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#fffdd0', EndColorStr='#4b4e32');
}
		.footer{
                font-family: 'Press Start 2P', cursive;
				background: #4d422b;
				color:#000000;
				padding: 20px 0;
				text-align: center;
				font-weight: 100;
		}
		.menu{
			text-transform: none;
			text-align: left;
			margin-top: 25px;
		}
            .menu li a {
                padding: 5px 10px;
                border-radius: -10px;
                border-bottom:ridge;
                border-color: #fffdd0;
                background: #f7f3f3;
                font-family: 'Press Start 2P', cursive;
                letter-spacing:-1px;
            }
                .menu li a:hover {
                    text-decoration: none;
                    border-bottom: ridge;
                    border-color: #000000;
                    background: #fffdd0;
                    color: #000000;
                }
		.ul.noticias li{
			clear: both;
			display: block;
			overflow: hidden;
			margin-bottom: 20px;
		}
		ul.noticias li img{
			width: 70px;
			height: auto;
			margin-right: 10px;
			float: left;
		}
		ul.noticias li h4{
			margin: -2px 0 5px 0;
			font-weight: 600;
		}
		ul.noticias li p{
			margin: 5px 0;
			font-weight: 300;
		}
		ul.noticias li p a{
			font-weight: 600;
		}
		.contato label{
            border-style: ridge;
            border-color: #4d422b;
			display:block;
            background:	#4d422b;
			font-size: 13px;
			font-weight: 300;
		}
		.contato input, .contato textarea{
			display: block;
			margin-bottom: 15px;
			padding: 5px 2%;
			width: 95.3%;
		}
		.contato textarea{
			height: 180px;
		}
		.contato input.botao{
			width: auto;
		}
		.letra{
            font-family: 'Press Start 2P', cursive;
            letter-spacing:-1px;
		}
        .center{
            text-align:left;
            font-family: 'Acme', sans-serif;
            font-size: 15px;
        }
