td {
	height: 100px;
	width: 200px;
	font: 60px arial;
	text-align: center;
	}
.mes {
	font: bold 45px arial;
	align: center;
	line-height: 35px;
	height: 50px;
	width: 540px;
	}
	.semana {
	font: bold 40px arial;
	}
	.dia {
	height: 20px;
	width: 20px;
	padding-top:6px;
	vertical-align:middle;
	position:relative;
	}
	.evento {
	position: relative;
	font: 9px arial;
	color: #FF0000;
	position:absolute;
	right: -1px;
	top: 1-px;
	}
